{{ define "content" }}
  <div class="container">
    <h1>Ryan Zumstein</h1>
    <hr>
    <h2 class="text-info">Summary</h2>
    <p>
      Motivated software engineer with over 3 years of development experience, mostly focused in PHP and JavaScript.
      Proven ability to function in all areas of the development lifecycle.  Dedicated to enhancing current skills
      and understanding new technologies.
    <h2 class="text-info">Related Skills</h2>
    <ul>
      <li>Well-versed in object-oriented programming and MVC architecture
      <li>Scrum Master and Project Management experience through Agile development methodologies
      <li>Experience with automated testing tools such as Selenium and Watir webdriver technologies
      <li>Knowledgeable in utilization and management of source code version control using Git
    </ul>
    <h2 class="text-info">Languages</h2>
    <ul>
      <li>PHP and PHP frameworks Yii, Yii2, Laravel, Drupal
      <li>JavaScript and JS frameworks Angular, TypeScript, jQuery
      <li>SQL, Go, Python
    </ul>
  </div>
{{ end }}
